body {
    background-color: cyan;
}

main {
    width: 1000px;
    margin: auto;
}

nav {
    background-color: antiquewhite;
    padding: 10px 0;
}

nav div {
     width: 1000px;
    margin: auto;
    text-align: right;
}

a {
    text-decoration: none;
    color: rebeccapurple;
    font-size: 20px;
}
a:hover {
    text-decoration: underline;
    font-weight: 600;
}

form h1{
    text-align: center;
}
form div label {
    width: 12%;
    display: inline-block;
    font-weight: 700;
}
form div {
    margin-bottom: 10px;
}
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="date"],
form input[type="label"],
form input[type="tel"], select, textarea,
form input[type="password"] {
    width: 80%;
    height: 30px;
    padding: 0 10px;
}
.special {
    display: flex;
}
textarea {
    height: 500px;
}
form button {
    display: block;
    color: white;
    margin: auto;
    width: 150px;
    height: 45px;
    font-size: 20px;
    border-radius: 7px;
    border: none;
    background-color: rgb(47, 197, 47);
}